@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom scroll */
.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(57, 57, 57);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
  border-radius: 7px;
}

/*Change Component*/
.change-component-frame {
  @apply w-full h-1/6 flex flex-row  items-center justify-center md:justify-start lg:pl-8 hover:bg-secondBackground transition  cursor-pointer;
}
.change-component-button {
  @apply w-full sm:w-2/12 h-full text-center;
}

/*New Component*/
.input-label {
  @apply w-full h-6  text-secondTextColor;
}
.input {
  @apply w-full h-7 rounded-sm pl-2 capitalize;
}

.color-button {
  @apply w-1/12 h-full rounded-sm hover:bg-opacity-70 cursor-pointer;
}
.weekly-button {
  @apply w-8 h-7 text-sm flex items-center justify-center rounded-full border-[1px] border-secondTextColor text-secondTextColor hover:text-darkGreen hover:border-darkGreen;
}
.weekly-button-active {
  @apply w-8 h-7 text-sm flex items-center justify-center rounded-full border-[1px] border-darkGreen text-mainGreen hover:text-secondTextColor hover:border-secondTextColor;
}

/* Tasks Component */

.daily-task-collum {
  @apply w-11/12 h-full md:w-6/12 md:h-5/6 flex flex-col items-center justify-between bg-gradient-to-t from-mainBackground to-thirdBackground rounded-xl overflow-y-auto overflow-x-hidden m-2;
}
.collum-title {
  @apply w-11/12 h-[10%] flex items-center text-start pl-4;
}
.task-list {
  @apply w-11/12 h-[90%] flex flex-col items-center justify-start;
}
